/.cargo/credentials.toml
/.vscode
/target
/docs
/recordings
/output
/bindings/gloss_py/gloss/*.so
/bindings/gloss_py/gloss/__pycache__
/bindings/gloss_py/gloss_py/*.so
/bindings/gloss_py/gloss_py/__pycache__
/bindings/gloss_py/*.png
/node_modules
*.pyc
*.pyi
**/__pycache__/
tests/.hypothesis/
tests/web/references/diff_*.png
tests/web/references/screenshot_*.png
local.log
/log
/node_modules/
/saved_*
