/.cargo/credentials.toml
/.vscode
/target
/docs
/recordings
/output
/old
/todo.txt
/bindings/gloss_py/examples/cam_control.py
/bindings/gloss_py/examples/numpy_interop.py
/bindings/gloss_py/examples/test.py
/bindings/gloss_py/gloss/*.so
/bindings/gloss_py/gloss/__pycache__
/bindings/gloss_py/gloss_py/*.so
/bindings/gloss_py/gloss_py/__pycache__
/bindings/gloss_py/*.png
/node_modules
README_old.md
*.pyc
*.pyi
**/__pycache__/
tests/.hypothesis/
tests/web/references/diff_*.png
tests/web/references/screenshot_*.png
local.log
/log
/node_modules/
/saved_*
